<div id="page-wrapper">
        <dash-kpi>Loading KPI</dash-kpi>
        <div class="row">
            <div class="col-lg-8">
                <dash-chart-area>Loading Area Chart..</dash-chart-area>
                <dash-chart-bar>Loading Bar Chart..</dash-chart-bar>
                <dash-timeline></dash-timeline>
            </div>
            <div class="col-lg-4">
                <dash-notifications>Loading Notifications..</dash-notifications>
                <dash-chart-donut>Loading Donut Chart..</dash-chart-donut>
                <dash-chat>Loading Chat..</dash-chat>
            </div>
        </div>
    </div>